@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');

:root {
    --primary-color: rgb(27, 25, 160);
    --primary-color-darker: #060561;
    --white: #fff;
    --green: rgb(0, 175, 58);
    --yellow: rgb(210, 255, 9);
    --red: rgb(255, 0, 0);
    --strongerRed: rgb(148, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 600px;
    height: fit-content;
    padding: 1rem;
    margin: 20px auto;
    border-radius: 15px;

    background-color: var(--white);
}

form label, form input, form button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 10px;
}
 form input:focus{
   outline: 2px solid var(--primary-color);
}

form button {
    margin-top: 2rem;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white);
}

form button:hover {
    background-color: var(--primary-color-darker);
    transition: 0.5s;
}

#result {
    padding: 1rem;
}

.result-content {
    padding: 1rem 2rem;
    background-color: var(--green)
}

.result-contentYellow {
    padding: 1rem 2rem;
    background-color: var(--yellow)
}

.result-contentRed {
    padding: 1rem 2rem;
    background-color: var(--red)
}

.result-contentStrongerRed{
    padding: 1rem 2rem;
    background-color: var(--strongerRed)
}